<header class="ro-shop-header ro-section ro-padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12 ro-section-mb">
        <div class="ro-slider-style-1-wrapper">
          <div id="ro-slider-style-1" style="position: relative; top: 0px; left: 0px; width: 770px; height: 500px; margin:0 auto;" class="ro-slider-style-1">
            <div data-u="slides" style="cursor: pointer; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 770px; height: 500px;">
              <div>
                <%= image_tag('shop-header1.jpg', alt: "shop header", "data-u" => "image") %>
                <div data-u="caption" data-t="FADE" style="position: absolute; top: 165px; left: 360px; width: 300px;height:2px; background-color: #444"></div>
                <div data-u="caption" data-t="R" data-t2="L" style="position: absolute; top: 30px; left: 230px; width:400px;"><span style="font-size: 48px">SALE</span><span style="font-size: 89px">50%</span></div>
                <div data-u="caption" data-t="L" data-t2="R" style="position: absolute; top: 170px; left: 475px; width: 300px;"><i class="ro-font-size-3">TOOLS OF YOGA</i></div>
              </div>
              <div>
                <%= image_tag('shop-header1.jpg', alt: "shop header", "data-u" => "image") %>
                <div data-u="caption" data-t="R" data-t2="FADE" style="position: absolute; top: 30px; left: 230px; width:400px;"><span style="font-size: 48px">SALE</span><span style="font-size: 89px">50%</span></div>
                <div data-u="caption" data-t="R" data-t2="FADE" style="position: absolute; top: 165px; left: 360px; width: 300px;height:2px; background-color: #444"></div>
                <div data-u="caption" data-t="R" data-t2="FADE" style="position: absolute; top: 170px; left: 475px; width: 300px;"><i class="ro-font-size-3">TOOLS OF YOGA</i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 ro-section-mb">
        <div class="ro-shop-header-right">
          <%= image_tag('shop-header2.jpg', alt: "img", class: "img-responsive") %>
          <div class="ro-overlay text-center">
            <div class="ro-cell-vertical-wrapper">
              <div class="ro-cell-bottom">
                <h3 class="ro-hr-heading">HOT SOAP</h3>
                <p class="ro-font-size-4 ro-light-text"><i>IN SUMMER</i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
