<%= render 'shared/nav' %>

<div id="ro-main" class="ro-main clearfix">
  <%= render 'home/header' %>
  <%= render 'home/content' %>
  <%= render 'home/footer' %>
  <div id="ro-backtop"><i class="icon-up"></i></div>
</div>
