<nav id="ro-main-nav" class="ro-main-nav-shop">
  <div class="container">
    <div class="ro-brand">
      <a href="index.html">
        <%= image_tag('aqua-brand4.svg') %>
      </a>
    </div>
    <div class="ro-nav-content-wrapper">
      <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="ro-hotline pull-left">Hotline:&nbsp;<span class="ro-color-main">09 3887 3887</span></div>
        </div>
        <div class="col-md-6">
          <ul class="ro-nav text-center">
            <li><a href="#">Sản phẩm tươi</a></li>
            <li><a href="#">Sản phẩm khô</a></li>
            <li><a href="#">Về Fresh Home Lab</a></li>
          </ul>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          <!-- <div class="ro-option pull-right">
            <div class="btn-group"><a href="#" data-toggle="dropdown" role="link" aria-expanded="false" class="btn dropdown-toggle">Setings<i class="icon-expand22"></i></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Setings 1</a></li>
                <li><a href="#">Setings 2</a></li>
                <li><a href="#">Setings 3</a></li>
              </ul>
            </div>
            <div class="btn-group"><a href="#" data-toggle="dropdown" role="link" aria-expanded="false" class="btn dropdown-toggle">USD<i class="icon-expand22"></i></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">EUR</a></li>
              </ul>
            </div>
          </div> -->
        </div>
          <a href="cart.html">
            <div data-content="2" class="ro-cart">
              <i class="icon-ecommerce-cart-content"></i>
            </div>
          </a>
        </div>
    </div>
  </div>
</nav>
